*/.deps/*
*/.libs/*
*.la
*.lo
*.o
aclocal.m4
autom4te.cache/*
config.*
configure
depcomp
install-sh
libltdl/*
libtool
ltmain.sh
m4/argz.m4
m4/libtool.m4
m4/ltdl.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
src/.deps/*
src/.libs/*
collectionTool/collectionTool
collectors/*/.deps/*
collectors/*/.libs/*
collectors/*/*.xml
Makefile
Makefile.in
missing
stamp-h1
scripts/cbtfrun
