*/.deps/*
*/.libs/*
*.la
*.lo
*.o
aclocal.m4
autom4te.cache/*
config.*
configure
depcomp
install-sh
libltdl/*
libtool
ltmain.sh
m4/argz.m4
m4/libtool.m4
m4/ltdl.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
src/.deps/*
src/.libs/*
collectionTool/collectionTool
collectors/pcsamp/.deps/*
collectors/pcsamp/.libs/*
collectors/pcsamp/pcsamp.xml
collectors/usertime/.deps/*
collectors/usertime/.libs/*
collectors/usertime/usertime.xml
collectors/io/.deps/*
collectors/io/.libs/*
collectors/io/io.xml
collectors/hwc/.deps/*
collectors/hwc/.libs/*
collectors/hwc/io.xml
Makefile
Makefile.in
missing
stamp-h1
scripts/cbtfrun
